---
// layouts/Layout.astro
import "@/styles/global.css";
import { getCollection } from "astro:content";
import Head from "@/components/Layout/Head.astro";
import Navbar from "@/components/Layout/Navbar.astro";
import Footer from "@/components/Layout/Footer.astro";
import BackToTopBtn from "@/components/ui/BackToTopBtn.astro";

const siteData = await getCollection("siteData");
const siteInfo = siteData[0].data;
const site = siteInfo;
---

<!doctype html>
<html lang="de">
  <Head />
  <body class="overflow-x-hidden">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TQZ2SQM"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <!-- SnipcartSettings -->
    <script is:inline>
      window.SnipcartSettings = {
        publicApiKey:
          "ODFiOGQ1NjEtOWMwZS00YjljLTkxNmEtMzM2OWFiODBlOTcyNjM3MTcyNzE4MTY1NzI0Njg1",
        loadStrategy: "on-user-interaction",
        version: "3.0",
        analytics: false,
      };

      (function () {
        var c, d;
        (d = (c = window.SnipcartSettings).version) != null ||
          (c.version = "3.0");
        var s, S;
        (S = (s = window.SnipcartSettings).timeoutDuration) != null ||
          (s.timeoutDuration = 2750);
        var l, p;
        (p = (l = window.SnipcartSettings).domain) != null ||
          (l.domain = "cdn.snipcart.com");
        var w, u;
        (u = (w = window.SnipcartSettings).protocol) != null ||
          (w.protocol = "https");
        var m, g;
        (g = (m = window.SnipcartSettings).loadCSS) != null || (m.loadCSS = !0);

        // Create a local variable for version to satisfy TypeScript
        var snipcartVersion = window.SnipcartSettings.version;
        var y =
            snipcartVersion.includes("v3.0.0-ci") ||
            (snipcartVersion != "3.0" &&
              snipcartVersion.localeCompare("3.4.0", void 0, {
                numeric: !0,
                sensitivity: "base",
              }) === -1),
          f = ["focus", "mouseover", "touchmove", "scroll", "keydown"];

        window.LoadSnipcart = o;
        document.readyState === "loading"
          ? document.addEventListener("DOMContentLoaded", r)
          : r();
        function r() {
          window.SnipcartSettings.loadStrategy
            ? window.SnipcartSettings.loadStrategy === "on-user-interaction" &&
              (f.forEach(function (t) {
                return document.addEventListener(t, o);
              }),
              setTimeout(o, window.SnipcartSettings.timeoutDuration))
            : o();
        }
        var a = !1;
        function o() {
          if (a) return;
          a = !0;
          let t = document.getElementsByTagName("head")[0],
            n = document.querySelector("#snipcart"),
            i = document.querySelector(
              'src[src^="'
                .concat(window.SnipcartSettings.protocol, "://")
                .concat(
                  window.SnipcartSettings.domain,
                  '"][src$="snipcart.js"]'
                )
            ),
            e = document.querySelector(
              'link[href^="'
                .concat(window.SnipcartSettings.protocol, "://")
                .concat(
                  window.SnipcartSettings.domain,
                  '"][href$="snipcart.css"]'
                )
            );
          n ||
            ((n = document.createElement("div")),
            (n.id = "snipcart"),
            n.setAttribute("hidden", "true"),
            document.body.appendChild(n)),
            h(n),
            i ||
              ((i = document.createElement("script")),
              (i.src = ""
                .concat(window.SnipcartSettings.protocol, "://")
                .concat(window.SnipcartSettings.domain, "/themes/v")
                .concat(
                  window.SnipcartSettings.version,
                  "/default/snipcart.js"
                )),
              (i.async = !0),
              t.appendChild(i)),
            !e &&
              window.SnipcartSettings.loadCSS &&
              ((e = document.createElement("link")),
              (e.rel = "stylesheet"),
              (e.type = "text/css"),
              (e.href = ""
                .concat(window.SnipcartSettings.protocol, "://")
                .concat(window.SnipcartSettings.domain, "/themes/v")
                .concat(
                  window.SnipcartSettings.version,
                  "/default/snipcart.css"
                )),
              t.prepend(e)),
            f.forEach(function (v) {
              return document.removeEventListener(v, o);
            });
        }
        function h(t) {
          !y ||
            ((t.dataset.apiKey = window.SnipcartSettings.publicApiKey),
            window.SnipcartSettings.addProductBehavior &&
              (t.dataset.configAddProductBehavior =
                window.SnipcartSettings.addProductBehavior),
            window.SnipcartSettings.modalStyle &&
              (t.dataset.configModalStyle = window.SnipcartSettings.modalStyle),
            window.SnipcartSettings.currency &&
              (t.dataset.currency = window.SnipcartSettings.currency),
            window.SnipcartSettings.templatesUrl &&
              (t.dataset.templatesUrl = window.SnipcartSettings.templatesUrl));
        }
      })();
    </script>
    <Navbar links={site.links} />
    <slot />
    <Footer
      author={site.author}
      footnote={site.footnote}
      copyright={site.copyright}
      links={site.links}
      rechtliches={site.rechtliches}
      contact={site.contactdetails}
      socials={site.socials}
      socialTitle={site.socialTitle}
      contactTitle={site.contactTitle}
      contactSubtitle={site.contactSubtitle}
    />
    <BackToTopBtn />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
